body {
  background-color: $c-pink;
  color: $c-black;
  font-family: $font-primary;
  font-size: $body-font-size;
}

a {
  cursor: pointer;
}

.l-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(">small") {
    padding: $space;
    min-height: 100vh;
    background: url('../assets/background.png') center center no-repeat;
    background-size: 1360px auto;
  }

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: $c-pink;
  }
}

.l-main {
  text-align: center;
  position: relative;

  @include media(">small") {
    &::before {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../assets/device.svg") center center no-repeat;
      background-size: $device-width auto;
      width: $device-width;
      height: $device-height;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--inner {
      width: $device-width;
      height: $device-height;
      background-color: $c-black;
      padding: $space;
      border-radius: 70px;
      overflow: scroll;
    }
  }
}
