/**
 * Panel
 */
.c-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $c-pink;

  @include media(">medium") {
    min-height: calc(#{$device-height} - #{$space-double});
  }


  > * {
    display: flex;
    flex-direction: column;

    // @include media(">medium") {
    //   min-height: calc((#{$device-height} - #{$space-double}) / 2);
    // }
  }

  &__hero {
    background-color: $c-maroon;
    color: $c-pink;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: $space $space $space-double $space;
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50vh;

    @include media(">medium") {
      flex-basis: calc((#{$device-height} - #{$space-double}) / 2);
    }

    &-footer {
      width: 100%;
      padding: $space-double $space $space $space;
    }
  }

  &__options {
    .o-button--tertiary:last-child {
      border-bottom: 1px solid $c-pink;
    }

    .o-button--tertiary:last-child.is-active {
      border-bottom: 1px solid $c-red;
    }
  }

  &__description {
    padding: $space;
    padding-bottom: 0;
    text-align: left;

    h4 {
      @include o-heading--s;
      @include u-underline;

      display: table;
      line-height: 1.6;

      span {
        color: $c-black;
      }
    }
  }
}

/**
 * Panel - Home
 */
.c-panel--home {
  .c-panel__hero {
    justify-content: flex-end;
  }

  .c-panel__content {
    padding: 0 $space $space $space;
  }

  .u-underline span {
    color: $c-black;
  }

  .o-branding {
    color: $c-black;

    svg path {
      fill: $c-black;
    }
  }
}

/**
 * Panel - Resolutions
 */
.c-panel--resolutions {
  background-color: $c-maroon;

  &.is-revised {
    background-color: $c-pink;

    .o-habit {
      @include u-underline;

      span::before,
      span::after {
        top: 9px;
        background-size: auto 10px;
        width: 0;
        overflow: hidden;
        animation: width 1s forwards;
      }
    }
  }

  &:not(.is-revised) {
    .o-habit {
      @include u-strike;

      span {
        margin-right: 9px;
      }

      span::before,
      span::after {
        top: 7px;
        background-size: auto 10px;
        width: 0;
        overflow: hidden;
        animation: width 0.5s forwards;
      }
    }
  }
}

@for $i from 1 to 10 {
  .c-panel--resolutions .o-habit span:nth-child(#{$i}) {
    &::after,
    &::before {
      animation-delay: $i * 0.25s;
    }
  }
}

/**
 * Panel - Results
 */
.c-panel--results {
  .c-panel__content {
    flex-basis: auto;
  }

  .c-panel__content-body {
    padding: 80px $space 0 $space;
  }

  @include media('>medium') {
    .c-panel__hero {
      flex: none;
    }
  }
}

/**
 * Results Card
 */
.c-results-card {
  box-shadow: 0 0 15px rgba($c-black, 0.6);
  background-color: $c-maroon;
  color: $c-pink;
  padding: $space;
  margin: $space $space -80px $space;

  &__logo {
    width: 50%;
    max-width: 150px;
  }

  &__body {
    padding: $space-double 0;
  }

  &__website {
    font-size: $font-size-xs;
  }
}

/**
 * Logo
 */
.o-logo {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

/**
 * Branding
 */
.o-branding {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-red;
  margin-top: 30px;
  font-size: $font-size-xs;

  svg {
    width: 40px;
    height: auto;
    padding-left: 3px;
  }
}

/**
 * Counter
 */
.o-counter {
  letter-spacing: 2px;
  margin-bottom: $space;
}

/**
 * Social Share
 */
.c-social-share {
  display: flex;
  flex-direction: column;
  width: 100%;
}
