/* ------------------------------------ *\
    $COLOR MODIFIERS
\* ------------------------------------ */

/**
 * Text Colors
 */
.u-color--pink,
.u-color--pink a {
  color: $c-pink;
}

.u-color--maroon,
.u-color--maroon a {
  color: $c-maroon;
}

.u-color--red,
.u-color--red a {
  color: $c-red;
}

/**
 * Background Colors
 */
 .u-background-color--pink {
   background-color: $c-pink;
 }

 .u-background-color--maroon {
   background-color: $c-maroon;
 }

/**
 * SVG Fill Colors
 */
.u-path-fill--red {
  path {
    fill: $c-red;
  }
}
