/* ------------------------------------ *\
    $VARIABLES
\* ------------------------------------ */

$max-width: 1200px;

/**
 * Theme Colors
 */
$c-pink: #ffcbdc;
$c-maroon: #401823;
$c-red: #f22e38;
$c-black: #000;

/**
 * Typography
 */
$ff-font: degular, sans-serif;
$ff-font--sans: $ff-font;
$ff-font--serif: serif;
$ff-font--monospace: Menlo, Monaco, "Courier New", "Courier", monospace;

// Theme typefaces
$ff-font--primary: $ff-font;
$ff-font--secondary: $ff-font--serif;

/**
 * Common Breakpoints
 */
$xsmall: 400px;
$small: 550px;
$medium: 700px;
$large: 850px;
$xlarge: 1000px;
$xxlarge: 1200px;
$xxxlarge: 1400px;

$breakpoints: ("xsmall": $xsmall, "small": $small, "medium": $medium, "large": $large, "xlarge": $xlarge, "xxlarge": $xxlarge, "xxxlarge": $xxxlarge);

/**
 * Animation
 */
$hard-ease-in: cubic-bezier(0.86, 0, 0.07, 1);
$transition-all: all 0.23s $hard-ease-in;

/**
 * Default Spacing/Padding
 * Maintain a spacing system divisible by 10
 */
$space: 20px;
$space-quarter: $space / 4;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-double-half: $space * 2.5;
$space-triple: $space * 3;
$space-quad: $space * 4;

/**
 * Font Sizes
 */

/**
 * Native Custom Properties
 */
:root {
  --body-font-size: 16px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 22px;
}

// Medium Breakpoint
@media screen and (min-width: 700px) {
  :root {
    --font-size-s: 18px;
    --font-size-m: 22px;
    --font-size-l: 24px;
  }
}

$body-font-size: var(--body-font-size, 16px);
$font-size-s: var(--font-size-s, 18px);
$font-size-m: var(--font-size-m, 22px);
$font-size-l: var(--font-size-l, 24px);

